/* css styles */
footer.footer.nav-footer, #quarto-header>nav {
    padding-left: 14em;
    padding-right: 1em;
}


.navbar {
    background-color: #366493;
    color: rgba(255, 255, 255, .9);
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #0c76ff;
    color: #0c76ff !important;
}